<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
      
<head>
<meta charset="UTF-8">
<title>Header</title>

  		 <link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
         <link rel="stylesheet" type="text/css" media="all" href="/css/hv.css"  />
    
</head>
<body>

  <body>
  <!-- -->
    <header>
      <div class="container">
      	<h1>CompanyName Image etc</h1>
      	
      </div>
    </header>
    
  </body>
</html>




