<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="loginbutton">
	
	
	   
<!--        <u> is an inline element and produces no additional line // <div> is a block element and produces new line	 -->
       	  <u th:if="${#authorization.expression('!isAuthenticated()')}">
              <a href="/signin" th:href="@{/signin}">
                <i class="btn" aria-hidden="true"></i>&nbsp;Sign in
              </a>
            </u>
            <u th:if="${#authorization.expression('isAuthenticated()') }">
              <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                <i class="btn" aria-hidden="true"></i>&nbsp;Logout
              </a>
             <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout_page}"></form>
            </u>
       	
       	
    </div>    	
</body>
</html>



<!--  
		<p th:if="${loginUserName == 'anonymousUser'}">
			<p><a  href="/signin"><button type="button" class="btn btn-primary">Login</button></a></p>
		</p>
		
	    <p th:unless="${loginUserName == 'anonymousUser'}" 
	    	th:text="'Du bist eingeloggt als ' + ${loginUserName}">
	    		<div>
	    			<form action="#" th:action="@{/logout_page}" method="post">
        				<input class="btn btn-dark" type="submit" value="Logout" />  	
       				</form>
       			</div>
	    </p>
	    
	   -->   