<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="navbar">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-item active" href="/" th:href=@{/}>Immoprojekt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
          <a class="dropdown-item nav-link" href="#" th:href=@{/page2}>Page2</a>
          <a class="dropdown-item nav-link" href="#" >Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
       
       
             <!-- Test Signin / LoginName / Signout Dropdown Test   -->
      
     <li class="nav-item dropdown">
     
           
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:if="${loginUserName == 'anonymousUser'}" th:insert="~{fragments/loginbutton :: loginbutton}">
          Dropdown User
        </a>
        
          
     	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:unless="${loginUserName == 'anonymousUser'}" th:text="${loginUserName}">
          Dropdown User
        </a>
  		 
   
   
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       
       <!--        <a class="dropdown-item nav-link" href="#"  aria-labelledby="navbarDropdown"  th:insert="~{fragments/loginbutton :: loginbutton}"></a>
      -->
       <!-- 
       <a class="dropdown-item nav-link" href="#"  aria-labelledby="navbarDropdown"  th:unless="~{fragments/loginbutton :: loginbutton}"></a>
       -->
       </div>
     	
     </li>
     
  
     
      
       
       <!-- Sichere Variante Login / Logout -->
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-link" th:insert="~{fragments/loginbutton :: loginbutton}">loginbutton
      </li>
      <li class="nav-link" th:unless="${loginUserName == 'anonymousUser'}" th:text="'Du ' + ${loginUserName}">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

</body>
</html>