<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Navigation Bar</title>
</head>
<body>

<div th:fragment="navbar">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-item active" href="/" th:href=@{/}>Immoprojekt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
<!--       <li class="nav-item"> -->
<!--         <a class="nav-link" href="#">Link</a> -->
<!--       </li> -->
      
<!--        <li class="nav-item"> -->
<!--         <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
<!--       </li> -->
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Public Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
          <a class="dropdown-item nav-link" href="#" th:href=@{/page2}>Page2</a>
        </div>
      </li>
      
       <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-link" href="#"   th:href=@{/admin/page3}>Page3</a>
          <a class="dropdown-item nav-link" href="#" th:href=@{/admin/users}>Users</a>
        </div>
      </li>
      
 
    <li class="nav-item dropdown" sec:authorize="hasRole('PROPERTY_MANAGER')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PM Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-link" href="#"   th:href=@{/admin/page3}>Page3</a>
          <a class="dropdown-item nav-link" href="#" th:href=@{/admin/users}>Users</a>
        </div>
      </li>
 

 	<li class="nav-item dropdown">	      	
      	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:if=${#authorization.expression('isAuthenticated()')} sec:authentication="name">
          UserName
        </a>       
      	<a href="/signin" th:href="@{/signin}" th:if=${#authorization.expression('!isAuthenticated()')}>
      	  <i class="btn" aria-hidden="true"></i>&nbsp;Sign in 
      	</a>  
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">    
	           <a class="dropdown-item nav-link" href="/logout" th:href="@{#}" onclick="$('#form').submit();">
	             <i class="btn" aria-hidden="true"></i>&nbsp;Logout
	           </a>
	           <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout_page}"></form>
        </div>
     </li>
     
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> 
</nav>

	<div th:if="${param.msgSuccess}"   class="alert alert-success" role="alert">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
		</svg>	
	  <span th:text="${ param.msgSuccess }">-</span>
	</div>  
	
	<div th:if="${param.msgFail}"   class="alert alert-danger" role="alert">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
		</svg>	
	  <span th:text="${ param.msgFail }">-</span>
	</div>  
		<div th:if="${param.msg}"   class="alert alert-dark" role="alert">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
		</svg>	
	  <span th:text="${ param.msg }">-</span>
	</div>  
		<div th:if="${param.msgWarn}"   class="alert alert-warning" role="alert">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
		</svg>	
	  <span th:text="${ param.msgWarn }">-</span>
	</div>  

</div>

		


</body>
</html>