<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="navbar">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-item active" href="/" th:href=@{/}>Immoprojekt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
<!--       <li class="nav-item"> -->
<!--         <a class="nav-link" href="#">Link</a> -->
<!--       </li> -->
      
      
<!--        <li class="nav-item"> -->
<!--         <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
<!--       </li> -->
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Testing Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
          <a class="dropdown-item nav-link" href="#" th:href=@{/page2}>Page2</a>
<!--           toggle item page3 only shown when logged in as admin -->
          <a class="dropdown-item nav-link" href="#" sec:authorize="isAuthenticated()"  th:href=@{/admin}>List Admin Users</a>
          
<!--           <a class="dropdown-item nav-link" href="#" >Another action</a> -- >
<!--           <div class="dropdown-divider"></div> -->
<!--           <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      
 

 	<li class="nav-item dropdown">	      	
      	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:if=${#authorization.expression('isAuthenticated()')} sec:authentication="name">
          UserName
        </a>       
      	<a href="/signin" th:href="@{/signin}" th:if=${#authorization.expression('!isAuthenticated()')}>
      	  <i class="btn" aria-hidden="true"></i>&nbsp;Sign in 
      	</a>  
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">    
	           <a class="dropdown-item nav-link" href="/logout" th:href="@{#}" onclick="$('#form').submit();">
	             <i class="btn" aria-hidden="true"></i>&nbsp;Logout
	           </a>
	           <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout_page}"></form>
        </div>
     </li>
     
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

</body>
</html>