<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

	<title>Edit Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    
	<!-- JS -->
	<script src="/jquery/jquery-3.5.1.min.js" th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
	<script src="/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>    

</head>


<body>
<div class="container">

	<div th:replace="~{fragments/header :: header}">Header</div>
	<div th:replace="~{fragments/navbar :: navbar}">Navigation Bar</div>
	
	
	
	<form name="f" th:object="${PropertyManagementRegistrationFormCommand}" th:action="@{/register}" method="post">
	
		<table class="table">
			<tr>
				<td th:Text=#{register.choose}>Please choose</td>
			</tr>
			
	<!-- 		LOGIN USER -->
	
			<tr>
				<td th:Text="#{username} + ': '">username :</td>
				<td>
				  <input type="text" name="username" th:field="*{loginUserName}">
				  <span class="validationError" th:if="${#fields.hasErrors('loginUserName')}" th:errors="*{loginUserName}">Name Error</span>
				</td> 
			</tr>
		
			<tr>
				<td th:Text="#{register.password} + ': '">password :</td>
				<td><input type="password" name="initialpassword" th:field="*{initialPassword}">	
				<span class="validationError" th:if="${#fields.hasErrors('initialPassword')}" th:errors="*{initialPassword}">Password Error</span>		
				</td>
			</tr>
			
			<tr>
				<td th:Text="#{register.repeat.password} + ': '">repeat password :</td>
				<td><input type="password" name="repeat	password" th:field="*{repeatedPassword}">
				<span class="validationError" th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}">Password Error</span>
				</td>			
			</tr>
			
	<!-- 		COMPANY CONTACT check if new user is company-->
			<tr>
				<td th:Text="#{register.company} + ' ' "></td>
				<td><input type="checkbox" id="companyCheck" onclick="isCompanyFunction()" th:checked="*{company}"></td>
			</tr>
		
		</table>
		
		
<!-- 		TABLE FOR COMPANY DATA	 -->

		<table class="table" id="companyInput">
			<tr >
				<td th:Text="#{register.company.name} + ' ' ">Company name</td>
				<td><input type="text" name="companyName" th:field="*{companyName}"></td>	
				
			</tr>
			<tr >
				<td th:Text="#{register.company.phone} + ' ' ">Company phone</td>
				<td><input type="text" name="companyPhone" th:field="*{companyPhone}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.company.email} + ' ' ">Company email</td>
				<td><input type="text" name="companyEmail" th:field="*{companyEmail}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.company.website} + ' ' ">Company website</td>
				<td><input type="text" name="companyWebsite" th:field="*{companyWebsite}"></td>	
			</tr>
			
			
			
			
		</table>
		
		
<!-- 		TABLE FOR PRIMARY CONTACT -->

		<table class="table">
			<tr >
				<td th:Text="#{register.primary.first.name} + ' ' ">First name</td>
				<td ><input type="text" name="primaryFirstName" th:field="*{primaryFirstName}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.primary.last.name} + ' ' ">Last name</td>
				<td ><input type="text" name="primaryLastName" th:field="*{primaryLastName}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.primary.email} + ' ' ">Email</td>
				<td ><input type="text" name="primaryEmail" th:field="*{primaryEmail}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.primary.phone} + ' ' ">Phone</td>
				<td ><input type="text" name="primaryPhone" th:field="*{primaryPhone}"></td>	
			</tr>
			
			
			
			
			<tr >
				<td th:Text="#{register.company.street} + ' ' ">Street name</td>
				<td ><input type="text" name="companyStreet" th:field="*{companyStreet}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.company.housenumber} + ' ' ">House number</td>
				<td ><input type="text" name="companyHouseNumber" th:field="*{companyHouseNumber}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.company.apartment} + ' ' ">Apartment</td>
				<td ><input type="text" name="companyApartment" th:field="*{companyApartment}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.company.city} + ' ' ">City</td>
				<td ><input type="text" name="companyCity" th:field="*{companyCity}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.company.province} + ' ' ">Province</td>
				<td ><input type="text" name="companyProvince" th:field="*{companyProvince}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.company.country} + ' ' ">Country</td>
				<td ><input type="text" name="companyCountry" th:field="*{companyCountry}"></td>	
			</tr>
			<tr >
				<td th:Text="#{register.company.zipcode} + ' ' ">Zip Code</td>
				<td ><input type="text" name="companyZipCode" th:field="*{companyZipCode}"></td>	
			</tr>
			
			
			
			
		</table>
				
<!-- 		PAYMENT TYPE -->


<!-- 		LEGAL INFORMATION z.B. AGB Doc -->
		
		
		
<!-- 		SUBMIT BUTTON -->
		<table class="table">
			<tr>
				<td></td>
				<td><input class="btn btn-primary" type="submit" th:value="#{submit}"></td>
			</tr>
		</table>	
			
	</form>

<!-- 		CHECKBOX FUNCTION -->
	
	<script type="text/javascript">
		function isCompanyFunction() {
		  // Get the checkbox
		  var checkBox = document.getElementById("companyCheck");
		  		  
		  // Get the output text
		  var companyInput = document.getElementById("companyInput");
		  
		  // If the checkbox is checked, display the output text
		  if (checkBox.checked == true){
			 companyInput.style.display = "block";

		  } else {
			  
			companyInput.style.display = "none";
			}
} 
	</script>
   
	
    
<!-- FOOTER -->

	<div th:insert="fragments/footer :: footer" >nicht angezeigt</div>
</div>	



</body>
</html>             