<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

	<title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--     <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" /> -->
    <link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    
	<!-- JS -->
	<script src="/jquery/jquery-3.5.1.min.js" th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
	<script src="/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>    

</head>


<body>

<!-- <div sec:authorize="hasRole('ADMIN')"> -->
<!-- 	      Authenticated as <span sec:authentication="name"></span></div> -->

	
<!-- #### container begin #################################################  -->
<div class="container">

	<div th:replace="~{fragments/header :: header}">Header</div>
	<div th:replace="~{fragments/navbar :: navbar}">Navibarr</div>
	
		
	<div class="alert alert-dark" role="alert">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
		</svg>	
	  <span th:text="${ msgInfo }">-</span>
	</div>  
	

	
	
	
	<table class="table table-striped table-responsive-md table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><a th:href="@{'/admin/users/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} }">ID</a></th>
          <th scope="col"><a th:href="@{'/admin/users/' + ${currentPage} + '?sortField=loginusername&sortDir=' + ${reverseSortDir} }">LoginUserName</a></th>
          <th scope="col"><a th:href="@{'/admin/users/' + ${currentPage} + '?sortField=loginuserrole&sortDir=' + ${reverseSortDir} }">Role</a></th>
          <th scope="col">Actions</th>
        </tr>
      </thead>	

      <tbody th:remove="all-but-first">
        <tr th:each="user : ${loginUsers}" th:class="${userStat.odd}? 'odd'">
          <td th:text="${user.id}">id</td>
          <td th:text="${user.loginUserName}">Onions</td>
          <td th:text="${user.role}">2.41</td>
          <td><a th:href="@{/admin/users/delete/{loginusername}(loginusername=${user.loginUserName})}" class="btn btn-danger">Delete</a></td>
        </tr>      
      </tbody>      
      
	</table>
	
	<!-- Pagination --> 
	<div th:if = "${totalPages > 1}" >
		<div class="row col-sm-10">
			<div class="col-sm-2">
				Total Rows: [[${totalItems}]]
			</div>
			<div class="col-sm-2">
				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<a th:if="${currentPage != i}" th:href="@{'/admin/users/' + ${i} +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">[[${i}]]</a>
					<span th:unless="${currentPage != i}" >[[${i}]]</span>&nbsp; &nbsp;
				</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage < totalPages}" th:href="@{'/admin/users/' + ${currentPage + 1} +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }" >Next</a>
				<span th:unless="${currentPage < totalPages} ">Next</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage < totalPages}" th:href="@{'/admin/users/' + ${totalPages} +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">Last</a>
				<span th:unless="${currentPage < totalPages }">Last</span>
			</div>
		</div>
	</div>	
	
<!-- 	<div th:switch="${LoginUserNamen}"> -->
<!-- 		<div th:case="null"><strong>No LoginUserNamen on your list</strong></div> -->
<!-- 		<div th:case="*"> -->
		
<h1>Admin Home</h1>
	<p sec:authorize="hasRole('ADMIN')">
	      Authenticated as <span sec:authentication="name"></span>
	</p>
	<span th:text="${ ld }">13 February 2011</span>

<hr>

   
    
<!-- FOOTER -->

	<div th:insert="fragments/footer :: footer" >nicht angezeigt</div>

<!-- #### container end ###################################################  -->
</div>	



</body>
</html>                 